body {
	background: url(../img/f.png);
}

h1 {
	color: blue;
}

#parrafo1{
	float: center;
	background-color: black;
	color: white;

}





img {
	width: 40%;
	border:2px black solid;
	border-radius: 10px;
}